* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

#button {
  font-size: 18px;
  font-family: 'Times, "Times New Roman", serif';
  height: 5%;
  width: 7%;
  min-height: 45px;
  min-width: 50px;
  border: none;
  border-radius: 5px;
  background: #cc99ff;
  color: #000000;
  cursor: pointer;
}

#button:hover {
  background-color: #d5a5ff;
}

.box {
  width: 270px;
  height: 90px;
  padding: 5px;
  border-radius: 10px;
  background-color: #1a1818;
}

.boxHeader {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1a1818;
}
.title{
  font-size: 15px;
  background-color: #1a1818;
  font-family: Times, "Times New Roman", serif;
  color: #f5ffe7;
  cursor: pointer;
  padding: 2px;
}

.inputElement {
  font-size: 18px;
  background-color: #2b2828;
  font-family: Times, "Times New Roman", serif;
  color: #f5ffe7;
  cursor: pointer;
  border: #cc99ff;
  border-radius: 5px;
}

.dots {
  background-color: #1a1818;
  border: none;
  color: #f5ffe7;
  font-family: Times, "Times New Roman", serif;
  cursor: pointer;
}

.boxFooter {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  background-color: #1a1818;
}

.addCard {
  width: 100%;
  height: 90%;
  padding: 2px;
  border: none;
  border-radius: 10px;
  text-align: left;
  color: #7f7f7f;
  background-color: #1a1818;
  transition: background 0.3s;
  cursor: pointer;
  font-family: Times, "Times New Roman", serif;
}

.addCard:hover {
  background: #e3ddc4;
  color: #000000;
  opacity: 0.2;
}

#addList {
  width: 270px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: #000000;
  background-color: #7f7f7f80;
  cursor: pointer;
  font-family: Times, "Times New Roman", serif;
}

.textdiv {
  width: 250px;
  min-height: 30px;
  height: 30px + text;
  padding: 5px;
  border-radius: 10px;
  background-color: #1a1818;
}

#text {
  font-family: Times, "Times New Roman", serif;
  color: #7f7f7f;
}
