* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

#button {
  font-size: 18px;
  font-family: 'Times, "Times New Roman", serif';
  height: 5%;
  width: 7%;
  min-height: 45px;
  min-width: 50px;
  border: none;
  border-radius: 5px;
  background: #cc99ff;
  color: #000000;
  cursor: pointer;
}

.box {
  width: 270px;
  height: 90px;
  padding: 5px;
  border-radius: 10px;
  background: #1a1818;
}

.boxHeader {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.title {
  font-family: Times, "Times New Roman", serif;
  color: #f5ffe7;
  cursor: pointer;
}

.dots {
  background-color: #1a1818;
  border: none;
  color: #f5ffe7;
  font-family: Times, "Times New Roman", serif;
  cursor: pointer;
}

.boxFooter {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 10px;
  align-items: flex-end;
}

.addCard {
  width: 100%;
  height: 90%;
  padding: 2px;
  border: none;
  border-radius: 10px;
  text-align: left;
  color: #7f7f7f;
  background-color: #1a1818;
  cursor: pointer;
}
